

  @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Mono', monospace;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85)
}

/* Transition */

a, 
.btn {
    transition: all 200ms ease;
}

/* Desktop Nav */

nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

nav[role="main"] ul li {
    animation: fade-down 1s 0.5s backwards;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 3rem;
    animation: fade-down 1s 0.5s backwards;
}

.logo:hover {
    cursor: default;
}

/* Hamburger */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;

}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(0.125turn) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-0.125turn) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}

/* Sections */

section {
    display: grid;
    padding-top:4vh;
    height:96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
    margin-bottom: 3rem;
}

/* Profile section */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    animation: fade-in 0.7s backwards; 
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__pic-container2 {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    clip-path: circle();
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
    margin: 0.5rem;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 3rem;
    margin-top: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0.9rem;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

/* Keyframes */
@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(70px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/* Icons */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* Buttons */

.btn-container {
    display:flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1 rem solid;
}

.btn-container {
    gap: 1rem;
}

/* About */

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align:center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 700px;
    width: 1000px;
    margin: auto 0;
}

.text-container {
    font-size: 1.5rem;
    line-height: 2;
}

/* Skills */

#skills {
    position: relative;
}

.skills-big-container {
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10rem;
}

.skills-container-container {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
}

.skills-container {
    padding: 3rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align:center;
}

.skills-container:nth-child(2) {
    transition-delay: 100ms;
}

.skills-container:nth-child(3) {
    transition-delay: 200ms;
}

.skills-article-container {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.skills-icon:hover {
    cursor: default;
}

.skills-icon {
    max-height: 100px;
    max-width: 100px;
    object-fit: contain;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    transform-origin: bottom; 
}

.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    
    100% {
        transform: translateY(-10px) scale(1.05);
    }
}

.bounce {
    animation-name: reverse;
    animation-duration: 0.2s;
}

@keyframes reverse {
    from {
        transform: translateY(-10px) scale(1.05);
    }
    to {
        transform: translateY(0) scale(1);
    }
}

/* Projects */

#projects {
    position: relative;
}

.projects-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-about-containers {
    gap: 2rem;
    margin-bottom: 10rem;
    margin-top: 2rem;
    display: flex;
}

.project-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align:center;
}

.project-container:nth-child(2) {
    transition-delay: 100ms;
}

.project-container:nth-child(3) {
    transition-delay: 200ms;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.project-title {
    margin: 1rem;
    color: black;
}

/* Contact */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* Animation */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
    transition: all 0.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    
}